/*@charset "utf-8";*/
/* CSS Document */

@media screen and (max-width:1024px) {

	select,input[type="text"],
	.select-input select {
		height:34px;
		line-height:24px;
	}
	/*****Webkit (Chrome, Safari, Opera)*****/
	@media screen and (-webkit-min-device-pixel-ratio:0) { 
		
		select {
			padding:4px 30px 4px 5px;
		}
	}
	/*****Firefox*****/
	@-moz-document url-prefix() {
		
		select {
			padding:4.5px 30px 3.5px 5px;
		}
	}

}

@media screen and (max-width:768px) {

	
	/*****菜籃式挑選*****/
	.sourcebox,
	.targetbox-area,
	.targetbox,
	.put-btn-area,
	.move-btn {
		width:100%;
		float:left;
		display:block;
		vertical-align:top;
	}
	.targetbox {
		margin-bottom:10px;
	}
	.put-btn {
		display:inline-block;
		margin:10px 5% 10px;
	}
	.move-btn {
		margin-top:10px;
	}
	.sourcebox > div,
	.targetbox > div,
	.target-row2 > div,.target-row3 > div {
		max-height:300px;
		min-height:100px;
	}

}

@media screen and (max-width:480px) {
	table {
		text-align:left;
	}

}



